body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 10px;
    margin: 1px;
    background-color: rgb(50,150,200);
    border-width: 1px;
    font-size: medium;
    color: white;
}

@keyframes example {
    from {
        color: black;
        background-color: white;
    }
    to {
        color: white;
        background-color: #007bc0;
    }
}

#guy {
    color: white;
    background: rgb(185, 2, 118);
}
